<div class="example-container">
  <mat-toolbar color="warn" class="example-toolbar" > 
      
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon *ngIf="!drawer.opened">menu</mat-icon>
      <mat-icon *ngIf="drawer.opened">close</mat-icon>
    </button>   
      <h1 class="example-app-name">TRANS UDEC</h1>


      <span class="example-spacer"></span>

      <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <button mat-menu-item style="cursor: pointer" [routerLink]="['/ingresar']">
            <mat-icon>manage accounts</mat-icon>
            <span>Ingresar</span>
          </button>
          <mat-divider></mat-divider>  
            <button mat-menu-item style="cursor: pointer" [routerLink]="['/perfil']">
                <mat-icon>account_box</mat-icon>
                <span>Mi Perfil</span>
            </button>
            <button mat-menu-item >
                <mat-icon>exit_to_app</mat-icon>
                <span>Cerrar Sesión</span>
            </button>
        </mat-menu>
  
      
  </mat-toolbar>
  
  <mat-drawer-container class="example-sidenav-content" autosize>
    <mat-drawer #drawer style="width: 200px; background-color: aliceblue;" mode="side">

        <img src="assets/logo.png" width="200"/>
  
        <button mat-menu-item (click)="drawer.toggle()" style="cursor: pointer; color: black;" [routerLink]="['/buscar']">
            <mat-icon style="color: black;">search</mat-icon>
            <span>Rastrear envío</span>
        </button>
        <mat-divider></mat-divider>  

        <button mat-menu-item (click)="drawer.toggle()" style="cursor: pointer; color: black;" [routerLink]="['/editar']">
          <mat-icon style="color: black;">edit</mat-icon>
          <span>Editar</span>
        </button>
        <mat-divider></mat-divider> 

        <button mat-menu-item (click)="drawer.toggle()" style="cursor: pointer; color: black;" [routerLink]="['/conductores']">
          <mat-icon style="color: black;">perm_contact_calendar</mat-icon>
          <span>Conductores</span>
        </button>
        <mat-divider></mat-divider>  
      
    </mat-drawer>

    <div class="centrado">
      <router-outlet></router-outlet>
  </div>

    </mat-drawer-container>

</div>