<ng-progress id="progressBar" [color]="'white'"></ng-progress>

<h1>Rastreo de envíos</h1>

<p>Aquí rastrearemos tu envío</p>

<p class="info">
    El Rastreo en Línea es la herramienta desarrollada para que usted, mediante un proceso fácil, pueda obtener información sobre el estado de sus envíos, en cualquier lugar del país. Así:
<br>
    Ingrese el número de Guía (número con el cual se identifica su envío) en el campo correspondiente.
    Haga clic en Rastrear Guía.<br>
    Esta ventana le mostrará el estado de su envío, si fue entregado o no y en caso de estar entregado, muestra la imagen de la guía con la firma de recibo correspondiente. 
    <br>
    Además usted puede visualizar los datos de su envío: ciudad de origen, destino y fecha de despacho.

</p>